* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: blue;
}

h1 {
  color: beige;
  font-size: 3rem;
}

h2 {
  text-align: center;
  margin: 4rem 2rem;
}

#weather-search-section {
  text-align: center;
}

#displayed-weather {
  text-align: center;
}

aside {

}

.weather-forecast {
  /* Changed to display: block; with javascript to dynamically show the forecast */
  display: none;

}


#Five-Day-Weather-Forecast {
  /* Displays the 5 cards in a inline row with flex-box */
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.Forecast {
  /* Adds space between the weather forecasts */
  margin: 0 2.5rem;
}